<div id="account" class="section">
	<header>ACCOUNT</header>

	<ul>
		<li>
			<a href='javascript:void(0);'>
				<h3></h3>
				<img src=''/>
			</a>
		</li>
	</ul>

	<a href="create" class="btn btn-create">CREATE</a>
	<a href="javascript:void(0);" class="btn btn-share">SHARE</a>

</div>