<div id="home" class="section">

	<div class='preloader'>
		<div class='align'></div>
		<div class='valign'>
			<div class='spinner'></div>
		</div>
	</div>

	<header>BEAT MACHINE</header>

	<div class='grid'></div>

	<a href='javascript:void(0);' class='btn btn-login'>LOGIN</a>
	<a href="javascript:void(0);" class="btn btn-share">SHARE</a>

</div>

<div id="share" class="section hidden">
	<header>SHARE</header>

	<a href="javascript:void(0);" class='btn btn-back'>BACK</a>

	<div class="social">
		<a href="javascript:void(0);" class="btn btn-share twitter"></a>
		<a href="javascript:void(0);" class="btn btn-share facebook"></a>
		<a href="javascript:void(0);" class="btn btn-share email"></a>
	</div>

</div>

<div id="account" class="section hidden">
	<header>ACCOUNT</header>

	<ul>
		<li>
			<a href='javascript:void(0);'>
				<h3></h3>
				<img src=''/>
			</a>
		</li>
	</ul>

	<a href="javascript:void(0);" class="btn btn-create">CREATE</a>
	<a href="javascript:void(0);" class="btn btn-share">SHARE</a>

</div>

<div id="credits" class="section hidden">
</div>

<div id="bandwidth" class="hidden">
	<header>YOUR CONNECTION<br />APPEARS TO BE SLOW. TRY<br />CONNECTING TO WI-FI</header>
	<a href="javascript:void(0);" class="btn btn-reload">TRY AGAIN</a>
</div>

<div id="error" class="hidden">
	<div class='align'></div>
	<div class='valign'>
		<p>ERROR</p>
	</div>
</div>

<div id="share-success" class="section hidden">
	<p>SUCCESS</p>
	<a href="javascript:void(0);" class="btn btn-create">CREATE ANOTHER</a>
</div>
