{{#if message }}
<div id="home" class="section mountains has-message" data-prod="{{production}}">
{{else}}
<div id="home" class="section mountains" data-prod="{{production}}">
{{/if}}

	<section class="headline">
	</section>
	
	<div class="home-messaging">
		<div class="mobile-msg">
		</div>
		<div class="desktop-msg">
		</div>
	</div>

	<nav>
	</nav>

</div>

<div id="bandwidth" class="displayNone">
	<div class='align'></div>
	<div class='valign'>
		<p>YOUR CONNECTION<br />APPEARS TO BE SLOW. TRY<br />CONNECTING TO WI-FI</p>
	</div>
</div>

<div id="error" class="displayNone">
	<div class='align'></div>
	<div class='valign'>
		<p>STARS DON'T ALIGN.  PLEASE TRY AGAIN.</p>
	</div>
</div>

<div id="preview" class="section displayNone">
	
	<a href='javascript:void(0);' class="btn-clear"></a>
	
	<div class="preloader">
		<div class='align'></div>
		<div class='valign'>
			<div class='spinner'></div>
		</div>
	</div>

	<div class='content'></div>
	
</div>

<div id="create" class="section displayNone">
	
	<div class='preloader'>
		<div class='align'></div>
		<div class='valign'>
			<div class='spinner'></div>
		</div>
	</div>

	<a href="javascript:void(0);" class="btn btn-preview">Preview</a>
	<a href="javascript:void(0);" class="btn btn-send">Send</a>

</div>

<div id="send" class="section displayNone">
	<a id="send-back" href="javascript:void(0);">&lt; Back</a>
	<h2>Send your message</h2>

	<div class="social-strip">
		<a href="javascript:void(0);" class="share-btn share-twitter"></a>
		<a href="javascript:void(0);" class="share-btn share-facebook"></a>
		<a href="javascript:void(0);" class="share-btn share-email"></a>
	</div>

</div>

<div id="credits" class="section displayNone">

	<div class='align'></div>
	<div class='valign'>

		<div id="end-screen-controls">
			<a href="javascript:void(0);" id="end-control-restart">Restart</a>
			<a href="javascript:void(0);" id="end-control-create">Create</a>
			<a href="javascript:void(0);" id="end-control-share">Share</a>

			<div class="social-strip">
				<h5>Share written in the stars</h5>
				<a href="javascript:void(0);" class="share-btn share-twitter generic"></a>
				<a href="javascript:void(0);" class="share-btn share-facebook generic"></a>
				<a href="javascript:void(0);" class="share-btn share-email generic"></a>
			</div>
		</div>

	</div>
</div>

<div id="share-success" class="section displayNone">
	<p>You've successfully<br />written in the stars.</p>
</div>

<div class='offScreen'>
	<img class='' src='../images/loader-headphones.svg'/>
	<img class='' src='../images/loader-orient.svg'/>
	<img class='' src='../images/loader-northstar.svg'/>
	<img class='' src='../images/loader-volume.svg'/>
</div>

