<div id="login" class="section">
	<header>LOGIN</header>

	<a href="javascript:void(0);" class='btn btn-back'>BACK</a>

	<div>
		<a href='javascript:void(0);'>WITH FACEBOOK</a>
		<a href='javascript:void(0);'>SIGN IN</a>
		<a href='javascript:void(0);'>SIGN UP</a>
	</div>

	<div id='sign-in'>
		<div>
			<p>username</p>
			<input></input>
		</div>
		<div>
			<p>password</p>
			<input></input>
		</div>
	</div>

</div>
