// global variables
$def-html-background: #000;
$def-wrapper-background: #fff;
$def-font-family: Arial, Helvetica, sans-serif;
$def-font-color: #fff;
$def-color-gold: #c5b690;
$def-color-black: #070605;
$def-line-height: 1.5em;
$def-hover-font-color: #737373;
$def-max-width: 1024px; 
$def-min-width: 320px;

// breakpoints